 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
		/*header start*/
	.logo{
	margin-top: 20px;
}
	.l_top{
	display: none;
}
	.menu ul li a{
 	padding: 5px 0 !important;
 	
}
.d_search{
	min-width: 270px;
	
}
.d_search[data-bs-popper]{
	left: 0;
	
}
	
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
		/*header start*/
	.logo{
	margin-top: 20px;
}
	.l_top{
	display: none;
}
	.menu ul li a{
 	padding: 5px 0 !important;
 	
}
.d_search[data-bs-popper]{
	left: 0;
	
}
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.logo{
	margin-top: 20px;
}
	.l_top{
	display: none;
}
	.menu ul li a{
 	padding: 5px 0 !important;
 	
}
.d_search[data-bs-popper]{
	left: 0;
	
}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

 /*Extra large devices (Extra large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

 /*Extra Extra large devices (Extra Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) and  {...}